* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --primary-color: rgb(148, 5, 5);
  --core-value-container-color: rgb(170, 5, 5);
  --heading-colors: "Times New Roman", Times, serif;
  --red-color: red;
  --white-color: white;
  --black-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-colors);
}

/* NAV-BAR */
nav{

  border-bottom: 0.1rem var(--core-value-container-color) solid;
}
nav .navbar {
  z-index: 1;
}
.brand-text::after {
  content: "W3 Initiative";
  font-size: 1rem;
}

a.nav-link{
  font-size: 0.9rem;
}

a.nav-link:hover {
  border-bottom: 2px var(--core-value-container-color) solid;
}

/* CAROUSEL */
.carousel {
  margin-bottom: 2.5rem;
}

.carousel-image {
  width: 100%;
  height: 90vh;
}

.carousel-text {
  background-color: rgba(0, 0, 0, 0.582);
  color: var(--white-color);
  padding: 3.2rem;
  margin-bottom: 5rem;
  border-radius: 1.5rem;
}

.carousel-caption h1 {
  font-size: 4rem;
}

/* MEDIA QUERY */
@media (max-width:400px) {
   h1.fish2sch {
    padding-top: 1rem;
    font-size: 1.6rem;

  }

  .sch{
    display: block;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
    z-index: 1;
  }

  h1.fish2sch{
    font-size: 1.6rem;
  }

  .sch{
    display: block;
  }

  .sch{
    display: block;
  } 

  div.fish2sch-media-query,
  .carousel-text {
    margin-bottom: 6.5rem;
  }
}

/* ABOUT US */

img.about-us-image {
  width: 45%;
  margin: 9rem;
  display: block;
}

.about-us-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2.5rem;
}

p.about-us-fluid {
  font-size: 0.9rem;
  padding: 1rem 2rem;
}

@media (max-width: 500px) {
  .about-us-container {
    grid-template-columns: repeat(1, 1fr);
  }

  img.about-us-image {
    width: 90%;
    margin: 1rem;
  }

  p.about-us-fluid {
    padding: 0 0.6rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .about-us-container {
    grid-template-columns: repeat(1, 1fr);
  }

  img.about-us-image {
    width: 100%;
    margin: 1rem;
  }

  p.about-us-fluid {
    padding: 0 0.1rem;
    text-align: left;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  img.about-us-image {
    width: 60%;
    margin: 15rem 3rem 3rem 3rem;
  }
}

/* OUR-VISION AND MISSION */
.vision-and-mission-heading {
  line-height: 1.5;
  color: var(--primary-color);
}
.vision_and-mission_text {
  font-size: 1.1rem;
}

/* ACCORDION */
.fa-hand-rock,
.fa-rocket,
.accodian-heading {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .vision-text,
  .mission-text {
    margin-top: 1rem;
    text-align: justify;
  }
}

@media (min-width: 767px) {
  .rocket-img,
  .hand-rock-img {
    margin: auto;
  }
}

/* OUR CORE VALUES */
.core-values-container {
  background: var(--core-value-container-color);
  padding-bottom: 4rem;
}

div.core-value-img {
  height: 12rem;
  background: var(--black-color);
}

.core-values-card {
  height: 8rem;
}

/* MEDIA QUERY */

@media (max-width: 990px) and (min-width: 758px) {
  .core-values-card p {
    font-size: 0.97rem;
  }
}

@media (max-width: 768px) {
  .core-values-card p {
    text-align: center;
  }
}

/* OUR VOLUNTEER */
h1.volunteer-heading {
  font-size: 3.8rem;
  color: var(--primary-color);
  margin-top: 5rem;
  line-height: 1.5rem;
}

p.volunteer-text {
  color: var(--black-color);
  font-size: 1.09rem;
}


a.volunteer-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-bottom: 7rem;
}


a.volunteer-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* MEDIA QUERY */

@media (max-width: 767px) {
  h1.volunteer-heading {
    font-size: 2.89rem;
   
    
  }
}

/* OUR TEAM */
.line-bottom {
  margin-bottom: 4.5rem;
}

h2.our-team-heading {
  font-size: 2.5rem;
}

/* PERSONALITIES */
img.personalies-img {
  margin: -2.5rem auto;
}

.personalities-card:hover, a.personalities-profile-link:hover{
  background: var(--core-value-container-color);
  color: var(--white-color);
}

a.personalities-profile-link {
  color: var(--primary-color);
}


.our-team-bg {
  background: var(--black-color);
}

/* OUR TEAM */
.our-partners-heading {
  margin-top: 6rem;
}

.our-partners-text {
  margin-bottom: 6rem;
  color: var(--primary-color);
  font-weight: bold;
}



/* SUPPORT-US */
.support-us-container {
  background: var(--black-color);
}

h1.support-us-heading {
  font-size: 3.8rem;
  color: var(--primary-color);
  line-height: 1.5rem;
  padding-top: 7rem;
}

a.support-us-btn {
  background-color: var(--core-value-container-color);
  color: var(--white-color);
  margin-bottom: 7rem;
}


a.support-us-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
} 


/* OUR MISSION ,CONTACT,SOCIAL MEDIA-PLATFORM ....etc  */
.media-container {
  background: var(--core-value-container-color);
  padding-bottom: 5rem;
}

/* FOOTER */
#footer {
  background: var(--black-color);
}









/* PROJECT PAGE */

/* PROJECTS AND PROGRAMMES */
.main-heading {
  background: var(--core-value-container-color);
}

.main-heading h2{
    font-size:2.2rem;
}

/* FISH TO SCHOOL */
h4.fish-me {
  color: var(--primary-color);
}

.fish-school-img img {
  width: 80%;
  margin-bottom: 3rem;
}
.fish-to-school-text p {
  font-size: 0.92rem;
}
/* MEDIA QUERY */
@media (max-width: 768px) {
  .fish-school-img img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .fish-school-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* PHOTO-GALLERY I */
img.photoGalleryI-img {
  width: 100%;
  height: 250px;
}

/* SHEVET */
.shevet-img {
  width: 90%;
  margin: 1rem 0 0 0;
}

.shevet-text p {
  font-size: 0.92rem;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  img.shevet-img {
    width: 100%;
  }
  .shevet-text p {
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  img.shevet-img {
    width: 100%;
    height: 75%;
    padding: 6.5rem 2rem 0 0;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  img.shevet-img {
    width: 100%;
    padding-top: 1rem;
  }
}

/* PHOTO GALLERY II */
.photo-galleryII-container h2 {
  margin: 4.5rem 0;
  font-size: 2rem;
}

.img.photoGalleryII-img {
  width: 100%;
}

p.photo-galleryII-text {
  font-size: 0.96rem;
  margin-top: 2.5rem;
}

@media (max-width: 768px) {
  img.photoGalleryII-img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  p.photo-galleryII-text {
    margin-top: 0.55rem;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  img.photoGalleryII-img {
    width: 100%;
    height: 75%;
    padding: 10rem 2rem 0 0;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  img.photoGalleryII-img {
    width: 100%;
    padding: 2.9rem 3rem 0 0;
  }
}

/* PHOTO-GALLERY III */
img.photoGalleryIII-img {
  width: 100%;
  height: 250px;
}

/* W3 SUMMIT */
img.w3-summit-img {
  width: 100%;
}

.w3-summit-text p {
  font-size: 0.92rem;
}

@media (max-width: 991px) and (min-width: 767px) {
  img.w3-summit-img {
    padding:6rem 2rem 6rem 0;
    height: 100%;
  }
}

@media (max-width:1199px) and (min-width:992px) {
    img.w3-summit-img{
        margin: 2.3rem 0 ;
    }


}


/* PHOTO GALLERY IV */
.photGalleryIV-heading{
    font-size:2.2rem;
    margin-top:3rem;
}

.photo-galleryIV-img img{
    width: 100%;
    height: 250px;
}


/* OUR VOLUNTEER */
.volunteer-bg{
    background: var(--core-value-container-color);
}

h1.volunteer-heading1 {
  font-size: 3.8rem;
  color: var(--primary-color);
  margin-top: 5rem;
  line-height: 1.5rem;
}

p.volunteer-text1 {
  color: var(--black-color);
  font-size: 1.09rem;
}


a.volunteer-btn1 {
  background-color: var(--white-color);
  color: var(--primary-color);
  margin-bottom: 7rem;
}



a.volunteer-btn1:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}


/* MEDIA QUERY */
@media (max-width: 767px) {
  h1.volunteer-heading1 {
    font-size: 2.89rem;
  }
}



h1.support-us-heading1 {
  font-size: 3.8rem;
  color: var(--black-color);
  line-height: 1.5rem;
  padding-top: 7rem;
}

p.support-us-text1{
    font-size: 1.1rem;
}



/* VOLUNTEER WITH US PAGE */
p.volunteer-text1, p.vounteer-text1{
    font-size: 0.9rem;
    line-height: 1.5rem;
}

p.vounteer-text1{
    color: var(--primary-color);
}

/* FORM */
img.form-img{
    margin: 13rem 0 0 0;
}

#basic-addon1{
    background: var(--primary-color);
}

::placeholder{
    font-size: 1rem;
}



@media (max-width:768px) {
    img.form-img{
        margin: -3rem 0 0 0;
    }
}




/* CONTACT  US FORM */

@media (max-width :990px) and (min-width:768px) {
    img.form-img1{
        margin: 3rem 0 3rem 0;
    }
}